<div class="container h-sm-100">
  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      Nama Lengkap
    </div>
    <div class="col">
      {{userData.fullName}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      Alamat
    </div>
    <div class="col">
      {{userData.address}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      Jenis Kelamin
    </div>
    <div class="col">
      {{userData.gender}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      Email
    </div>
    <div class="col">
      {{userData.email}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      Tanggal Lahir
    </div>
    <div class="col">
      {{userData.dob}}
    </div>
  </div>

  <div class="mt-4 d-flex align-items-end flex-column">
    <button class="btn btn-primary btn-styling" (click)="backtoForm()">Kembali</button>
  </div>
</div>
