<div class="container h-sm-100">
  <div class="row g-3 mb-3">
    <div class="col-6 col-md-3">
      Judul Buku
    </div>
    <div class="col">
      {{this.books.judulBuku}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-6 col-md-3">
      ISBN
    </div>
    <div class="col">
      {{this.books.isbn}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-6 col-md-3">
      Pengarang
    </div>
    <div class="col">
      {{this.books.pengarang}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-6 col-md-3">
      Penerbit
    </div>
    <div class="col">
      {{this.books.penerbit}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-6 col-md-3">
      Tebal Halaman
    </div>
    <div class="col">
      {{this.books.tebalHalaman}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-6 col-md-3">
      Alamat Penerbit
    </div>
    <div class="col">
      {{this.books.alamatPenerbit}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-6 col-md-3">
      Harga Eceran
    </div>
    <div class="col">
      {{this.books.hargaEceran}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-6 col-md-3">
      Email
    </div>
    <div class="col">
      {{this.books.email}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-6 col-md-3">
      Tahun Terbit
    </div>
    <div class="col">
      {{this.books.tahunTerbit}}
    </div>
  </div>

  <div class="row g-3">
    <div class="col">
      <button type="button" class="btn btn-primary btn-styling" (click)="backtoForm($event)">Kembali</button>
    </div>
  </div>
</div>
