<div class="container h-sm-100">
  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      Judul Buku
    </div>
    <div class="col">
      {{bookData.judul}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      ISBN
    </div>
    <div class="col">
      {{bookData.isbn}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      Tebal Halaman
    </div>
    <div class="col">
      {{bookData.tebalHalaman}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      Tahun Terbit
    </div>
    <div class="col">
      {{bookData.tahunTerbit}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      Harga Eceran
    </div>
    <div class="col">
      {{bookData.hargaEceran}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      Nama Pengarang
    </div>
    <div class="col">
      {{bookData.namaPengarang}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12 col-md-3 fw-bold">
      Penerbit
    </div>
    <div class="col">
      {{bookData.namaPenerbit}}
    </div>
  </div>

  <div class="mt-4 d-flex align-items-end flex-column">
    <button class="btn btn-primary btn-styling" (click)="backtoForm()">Kembali</button>
  </div>
</div>
